.camel{
     border: 4px;
     color: burlywood;
     border-radius: 20px;
     /* align-items: stretch; */
}

.origami:hover {
     transform: scale(1.2);
}

.chameleon{
     border: 4px;
     color: greenyellow;
     border-radius: 20px;
     /* align-items: stretch; */
}

.pigeon{
     border: 4px;
     color: teal;
     border-radius: 20px;
     /* align-items: stretch; */
}

.teddy{
     border: 4px;
     color: brown;
     border-radius: 20px;
     /* align-items: stretch; */
}

.panda{
     border: 4px;
     color: gainsboro;
     border-radius: 20px;
     /* align-items: stretch; */
}

.cicada{
     border: 4px;
     color: darkolivegreen;
     border-radius: 20px;
     /* align-items: stretch; */
}

.line {
     /* color: black; */
     background-color: black;
     border-width: 0px;
     height: 6px;
}


li, p{
     color: black;
}

body {
     background-image: url("https://image.freepik.com/free-vector/seamless-paper-bird-origami-pattern-background_97843-44.jpg");
}

.link {
     color: #324254;
     font-size: 25px;
}

.dropdown {
     position: relative;
     display: inline-block;
}
   
.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
     z-index: 1;
}
   
.dropdown:hover .dropdown-content {
     display: block;
}

.header {
     font-size: 55px;
     color: #324254;
     line-height: -20;
}

h2 {
     font-size: 30px;
     color: #5a3d1b;
}

.aboutUsHead {
     font-size: 35px;
     color: #324254;
}

.welcomeAbout {
     font-size: 30px;
     font-weight: bolder;
     color: black;
     line-height: normal;
}

.aboutUsP {
     font-size: 20px;
     font-weight: bold;
     color: black;
     line-height: -20px;
}

.followUsHead {
     font-size: 35px;
     color: #324254;
}

.imgOne {
     width: 50px;
}

.imgTwo {
     width: 75px;
}

.imgThree {
     width: 200px;
}

.p1 {
     font-size: x-large;
     font-weight: bolder;
}

.p2 {
     font-size: 20px;
     font-weight: bold;
}